
.login-container {
    max-width: 555px;
  }

  .login-container .card {
    color: #292b2c;
    text-shadow: 0 0 0 !important;
  }
.btn-facebook {
    color: #fff;
    border-color: #335190;
    background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);

} 

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}


.btn-google {
    color: #fff;
    border-color: #d54331;
    background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
}  

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}