/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  text-shadow: 0 0 0 !important;
}

/* Container */
@media (min-width: 1200px){
  .container {
    min-width: 1140px;
  }
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #252831;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* site-container */
.site-container{
    height: 100%
}
/* wrapper */


/* footer design */
